pillow
python-fasthtml
shad4fast
google-generativeai 
instructor 
pydantic
python-dotenv
uvicorn
google-generativeai
python-dotenv
pillow
pypdf2
pdf2image
pymupdf
google-genai

# numpy #1.26.4
# paddlepaddle #2.6.2
# paddleocr  #2.9.1
# opencv-python #4.10.0.84
# pillow #11.1.0
# python-fasthtml #0.12.0
# shad4fast #1.3.1
# streamlit #1.41.1
# PassportEye #
# pandas
# pytesseract
# fuzzywuzzy
# google-generativeai
# openai 
# instructor 
# pydantic
